.event-wrapper {
    background: $white;
    .event-name {
        margin-bottom: 10px;
        h3 {
            font-size: 14px;
            background: $brown;
            color: $white;
            max-width: 80%;
            padding: 8px 20px 12px;
            margin: 0 auto;
            border-radius: 45px;
            margin-bottom: 10px;
            text-align: right;
            font-size: 16px;
            span.points-in-title {
                float: left;
                padding-left: 25px;
                background: url(/images/arrow-down.png) 0 5px no-repeat;
                background-size: 16px;
            }
        }
    }
}

.event-info {
    text-align: right;
    width: 70%;
    margin: 0 auto;

    .row {
        margin-bottom: 10px;
    }

    .label {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .event-video {
        margin-bottom: 20px;
    }
}

.hide-info {
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.4s;
}

.show-info {
    height: 100%;
    transition: all 0.4s;
}
